<div id="tag_bar">
  <strong>
    Tags:
    <%= link_to "Alle Aufgaben", 
                { :action => "index", :project_id => project.id },
                :class => "action_link", :style => "padding-left: 0.5em" %>
    <% tags.each do |tag| %>
        <%= link_to tag, 
                    { :controller => :tasks, :action => "tagged", :tag => tag.name, :project_id => project.id },
                    :class => "action_link", :style => "padding-left: 0.5em" %>
    <% end %>
  </strong>
</div>
