<div class="title">
  <h2>Aufgaben für '<%= @project.name %>'</h2>
</div>

<div class="action_links">
  <%= link_to 'Neue Aufgabe anlegen', new_project_task_path %>
</div>

<%= render :partial => "tasks_list", :locals => {:tasks => @tasks} %>