.edit_info{
  color: blue;
  font-style: italic;
}

.data_form input{
  font-size: 100%;
}

.data_form textarea{
  font-size: 100%;
}

.edit_form label{
  font-weight: bold;
}

.edit_form legend{
  font-weight: bold;
}