body { 

    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
}

.text{
    color: #fff;
}

.bg1{
    background-color: #e1e6fa;
}
.bg2{
    background-color: #c4d7ed;
}
.bg3{
    background-color: #abc8e2;
}
.bg4{
    background-color: #375d81;
}
.bg5{
    background-color: #183152;
}



.right{
    text-align: right;
    float: right;
}

.left{
    text-align: left;
    float: left;
}

.middle{
    float: middle;
}

.center{
    text-align: center;
}

.blockquote{
    margin:1.5em;
    color:#666;
    font-style:italic;
}

.info{
    color: #666;
    font-style: italic;
}


a{
    color: #000;
    text-decoration: underline;
}

a:hover{
    color: #fff;
    text-decoration: none;
}

#container{
    border: 2pt solid #000;
}

#header{
    padding-top: 1.0em;
}

#header a{
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#header a:hover{
    text-decoration: underline;
}

#header{
    border-bottom:1px solid #e1e6fa; 
}

#header .tabs li a { 
    background:#e1e6fa;
    border:1px solid #eee;
    border-bottom:none;
    color:#222;
    cursor:pointer;
    display:block;
    float:left;
    font-weight:bold;
    padding:.15em .33em .25em .33em;
}

#header .tabs li a:hover{
    background: #c4d7ed;
}

#header .tabs li a.selected { 
    background:#c4d7ed;
    border:1px solid #666;
    border-bottom:none;
    color:#000;
    cursor:default;
}

#flash_notice{
    color: green;
}

#flash_error{
    color: red;
}

#outer-main{
    border-left: solid 1px #183152;
    padding-bottom: 1.5em;
}

#footer{
    padding-top: 1.0em;
    font-size: 11px;
    padding-bottom: 1.0em;
    border-top: solid 1px #e1e6fa;
}