body { 
  background-color: #fff;
  color: #333; 
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.menu{
  font-size: 15px;
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 1.5em;
  text-align: left;
  background-color: #eee;
}

.menu a{
  text-decoration: none;
  padding: 0.25ex;
}

.menu a:hover{
  color: #eee;
}

.menu .active_link{
  color: #eee;
  background-color: #000;
}

.menu .active_link:hover{
  color:#fff;
}

.sub_menu{
  background-color: #cfc;
  text-align: left;
  padding: 0.5em;
  margin-top:1.5em;
  font-size: 14px;
  font-weight: bold;
}

.action_link{
  text-decoration: none;
}

.project_stats{
  padding-top: 2em;
}

.project_stats_content{
  
}

.footer{
  bottom: 10px;
  left: 30%;
  right: 30%;
  font-size: 11px;
  padding-top: 3em;
}

.tags1 { font-size: 1.0em; font-weight: bold; }
.tags2 { font-size: 1.2em; font-weight: bold; }
.tags3 { font-size: 1.4em; font-weight: bold; }
.tags4 { font-size: 1.6em; font-weight: bold; }

#tag_bar{
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #cec;
}