.content_table table{
  padding-top: 2em;
  width: 100%;
}

.content_table .profile_table{
  width: 60%;
  padding-right: 5em;
}

.content_table td{
  padding-top: 0.5em;
  background-color: #eee;
}

.content_table .content_title{
  width:40%;
}

.content_table .content_value{
  width:60%;
}