.content_table table{
  padding-top: 2em;
  width: 100%;
}

.content_table .profile_table{
  width: 60%;
  padding-right: 5em;
}

.content_table tr{
  background-color: #eee;
}

.content_table tr:hover{
  background-color: #ddd;
}

.content_table td{
  padding: 0.5em;
}

.content_table .content_title{
  width:40%;
}

.content_table .content_value{
  width:60%;
}

.content_table .totals{
  background-color: #afa;
  font-weight: bold;
}
