<div class="title">
  <h1>Willkommen beim ProjectManager.</h1>
</div>
<p>Aktuell in der Version 0.1.1 alpha.</p>

<% if logged_in? %>
  <div id="dashboard">
    <div class="subtitle">
      <h2>Deine aktuelle Übersicht:</h2>
    </div>
  
    <div class="info_table">
      <table>
        <tr class="table_header">
          <th>Projekt</th>
          <th>Deine Aufgaben</th>
          <th>Zuletzt gearbeitet an</th>
        </tr>
        <%= render :partial => "info_table_content", :locals => {:projects => @user.projects.active} %> 
        <%= render :partial => "info_table_content", :locals => {:projects => @user.projects.finished} %>
      </table>
    </div>
  </div>
<% end %>