<div class="title">
  <h1><%= t('words.projects') -%></h1>
</div>

<%= render :partial => "action_links" %>

<%= edit_form_container_for(:project, :add) %>

<%= render :partial => "list", :object => @projects %>
