<h1>Arbeitszeit bearbeiten</h1>
<%= render :partial => "edit_form", :object => @worktime %>
<%= link_to 'Anzeigen', project_worktime_path(@worktime.project, @worktime) %> |
<%= link_to 'Zur&uuml;ck', :back %>
