<h1><%= t('worktime.edit') -%></h1>
<%= render :partial => "edit_form", :object => @worktime %>
<%= link_to t('words.show'), project_worktime_path(@worktime.project, @worktime) %> |
<%= link_to t('words.back'), :back %>
