<div class="title">
  <h2>
    Arbeitszeiten für '<%= @project.name %>'
  </h2>
</div>

<div class="action_links">
    <%= link_to 'Neue Arbeitszeit eintragen', new_project_worktime_path(:project_id => @project.id) %>
</div>

<%= render :partial => "worktimes_list", :locals => {:worktimes => @project.worktimes} %>
<br />
