<div class="title">
  <h1>
    Arbeitszeiten für '<%= @project.name %>'
  </h1>
</div>

<div class="sub_menu">
    <%= link_to 'Neue Arbeitszeit eintragen', new_project_worktime_path(:project_id => @project.id) %>
</div>

<%= render :partial => "worktimes_list", :locals => {:worktimes => @project.worktimes} %>
<br />
