<div class="footer">
  <center>
    <a href="http://github.com/bakkdoor/projectmanager/" target="_blank">Projectmanager v<%= Projectmanager.version -%></a>
    <br>
    &copy; 2008 Christopher Bertels<br>
    Icons &copy; Mark James (<a href="http://www.famfamfam.com" target="_blank">famfamfam.com</a>)
  </center>
</div>
