<div id="footer" class="span-24 center bg2">
  <a href="http://github.com/bakkdoor/projectmanager/" target="_blank">Projectmanager v0.2.0</a>
  <br>
  &copy; 2008 Christopher Bertels<br>
  Icons &copy; Mark James (<a href="http://www.famfamfam.com" target="_blank">famfamfam.com</a>)
</div>

</div> <!-- end container div -->

</body>
</html>
